@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

#NewGuestPage {

  text-align: center;
  font-size: 20px;

  input, button {
    margin-top: 25px;
  }
  
  .checkboxes {
    transform: scale(1.2);
  }

  button {
    font-size: 40px;
    width: 200px;
    height: 60px;
  }

  .panel {
    text-align: center;

    input, button {
      display: block;
      margin: 1% 50%;
      @include transform(translateX(-50%));
      max-width: 400px;
    }
  }
}